.projects {
    border: 1px solid rgba(0, 0, 0, 0.15);
    
    .title {
        padding: 2.5rem 6rem;
        font-size: 1.4rem;
        font-weight: 600;
    }

    .proj-list {
        display: flex;
        width: 100%;
        flex-wrap: wrap;

        .project {
            flex: 1 1 600px;
            height: 434px;
            padding: 2rem;
            background-size: cover;
            color: #fff;
            position: relative;
            cursor: pointer;

            &:hover {

            }

            .overlay {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: #000;
                padding: 2rem;

                .name {
                    margin-bottom: .6rem;
                    font-weight: 600;
                    font-size: 1.3rem;
                }
            }

            .name {
                margin-bottom: .6rem;
                font-weight: 600;
                font-size: 1.3rem;
            }
        }
    }
}