.homepage {

    .hero {
        height: 100vh;
        background-color: gray;
        background-image: url(./bg.svg);
        background-size: cover;

        .cont {
            display: flex;
            padding: 0 6rem;
            height: 80%;
            align-items: center;
    
            .para {
                width: 581px;
                color: #fff;
                font-size: 26px;
                line-height: 35px;
                margin-top: -2rem;
            }
        }
    }

    .info {
        padding: 4rem 6rem;

        .para {
            font-size: 26px;
            line-height: 35px;
            width: 600px;
            font-weight: 600;
        }
        .more {
            font-weight: 600;
            cursor: pointer;
            position: relative;
            width: fit-content;

            &::after {
                content: "";
                width: 100%;
                height: 1px;
                background-color: #000;
                border-radius: 4px;
                position: absolute;
                left: 0;
                bottom: 0;
                transform: scaleX(0);
                transform-origin: left;
                transition: transform .25s ease;
            }

            &:hover::after {
                transform: scaleX(1);
            }
        }
    }

    .exper {
        background-color: #000;
        color: #fff;
        padding: 11rem 4rem 5.3rem 4rem;
        display: flex;
        gap: 10rem;
        font-size: 26px;

        
        .cont {
            
            .top {
                margin-bottom: 1.5rem;
            }
            .para {
                width: 840px;
                line-height: 1.5;
                margin-bottom: 2rem;
                
            }
            .more {
                font-size: 1rem;
                cursor: pointer;
                position: relative;
                width: fit-content;

                &::after {
                    content: "";
                    width: 100%;
                    height: 1.5px;
                    background-color: rgb(255, 255, 255);
                    border-radius: 4px;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: transform .25s ease;
                }
    
                &:hover::after {
                    transform: scaleX(1);
                }
            }
        }
    }
    .banner {
        height: 774px;
        background-image: url(./banner.svg);
        background-color: gray;
        background-size: cover;
    }
    .about {
        color: #000;
        padding: 4rem;
        font-weight: 600;

        .title {
            margin-bottom: 1.5rem;
            font-size: 26px;
        }

        .cont {
            font-size: 26px;
            .top {
                margin-bottom: 1.5rem;
            }
            .para {
                width: 800px;
                line-height: 1.5;
                margin-bottom: 2rem;
                
            }
            .more {
                font-size: 1rem;
                cursor: pointer;
                position: relative;
            width: fit-content;

            &::after {
                content: "";
                width: 100%;
                height: 1px;
                background-color: #000;
                border-radius: 4px;
                position: absolute;
                left: 0;
                bottom: 0;
                transform: scaleX(0);
                transform-origin: left;
                transition: transform .25s ease;
            }

            &:hover::after {
                transform: scaleX(1);
            }
            }
        }
    }

}